body,html,h1,h2 {
    margin: 0;
    padding: 0;
    color: rgb(58, 58, 58)
}
nav {
    width: 100%;
    height: 48px;
    background-color: rgb(58, 58, 58);
    text-align: center;
}
h1 {
    font-weight: normal;
    line-height: 48px;
    user-select: none;
    letter-spacing: 16px;
    color: #fff;
}
.box {
    width: 540px;
    margin: 60px auto;
    border: 1px solid rgb(58, 58, 58);
    text-align: center;
    padding: 30px;
}
.box form input,
.form-box a button{
    width: 200px;
    height: 36px;
    line-height: 36px;
    margin-top: 30px;
    background-color: rgb(58, 58, 58);
    color: #fff;
    border: none;
    cursor: pointer;
}
.result-text {
    font-size: 36px;
    color: rgb(209, 32, 32);
}